

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	padding: 5px;
	justify-content: center; /* horizontal */
	align-items: center;     /* vertical */
}
